//LEGAL NOTICE
.legal-notice {
	position    : fixed;
	display     : none;
	bottom      : 14px;
	z-index     : 1;

	width       : 100%;
	margin      : 0;

	opacity     : 0.8;
	font-size   : 8pt;
	line-height : 180%;
	text-align  : center;
}

.legal-notice a {
	margin : auto 2px;
	color  : #00acee;
}